* {
    background-color: black;
    font-family: monospace;
}

body {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 75px;
}

.calculator {
    min-width: 575px;
    min-height: 700px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 0;
}

.display-container {
    border: solid 2px white;
    color: white;
    justify-content: flex-end;
    flex: 1;
    display: flex;
    margin: 12px;
    padding: 24px;
    min-height: 144px;
}

.display {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 80px;
}

.buttons {
    flex: 4;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 36px;
    min-width: 96px;
    min-height: 72px;
}

.backspace {
    min-width: 247.666px;
}

.number {
    border: solid 2px rgb(135, 204, 227);
    color: rgb(135, 204, 227);
}

.operator {
    border: solid 2px lightcoral;
    color: lightcoral;
}

.AC,
.backspace,
.equals {
    border: solid 2px lightgreen;
    color: lightgreen;
}